<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
        <form method="POST" action="/admin_package_update/{{ data.id }}">
            {% csrf_token %}
              <table border="1" align="center" cellpadding="10" cellspacing="0">
                  <tr>
                      <td>pack_name:</td>
                      <td><input type="text" id="pack_name"  name="pack_name" value="{{ data.pack_name }}"></td>
                  </tr>
                  <tr>
                         <td>destination:</td>
                      <td><input type="text"  id="destination" name="destination" value="{{ data.destination }}"></td>
                  </tr>
                <tr>
                      <td>pack_details:</td>
                      <td><input type="text" id="pack_details" name="pack_details" value="{{ data.pack_details }}"></td>
                  </tr>

                   <tr>
                      <td>pack_price:</td>
                      <td><input type="text" id="pack_price" name="pack_price" value="{{ data.pack_price }}"></td>
                  </tr>

                   <tr>
                      <td>image:</td>
                      <td><input type="image" id="image" name="image" value="{{ data.image }}"></td>
                  </tr>

                   <tr>
                      <td>image1:</td>
                      <td><input type="image" id="image1" name="image1" value="{{ data.image1 }}"></td>
                  </tr>

                   <tr>
                      <td>image2:</td>
                      <td><input type="image" id="image2" name="image2" value="{{ data.image2 }}"></td>
                  </tr>

                  <tr>
                      <td>image3:</td>
                      <td><input type="image" id="image3" name="image3" value="{{ data.image3 }}"></td>
                  </tr>

                   <tr>
                      <td>days:</td>
                      <td><input type="text" id="days" name="days" value="{{ data.days }}"></td>
                  </tr>

                   <tr>
                      <td>nights:</td>
                      <td><input type="text" id="nights" name="nights" value="{{ data.nights }}"></td>
                  </tr>

                   <tr>
                      <td>city_id:</td>
                      <td><input type="text" id="city_id" name="city_id" value="{{ data.city_id }}"></td>
                  </tr>

                   <tr>
                      <td>state_id:</td>
                      <td><input type="text" id="state_id" name="state_id" value="{{ data.state_id }}"></td>
                  </tr>

                  <tr>
                      <td colspan="2" align="center"><input type="submit" name="submit" id="submit"></td>
                  </tr>

              </table>
        </form>
</body>
</html>