<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday</title>

    <!-- external css link  -->
    <link rel="stylesheet" href="{% static 'css/holiday.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


    <!-- header starts section here  -->

    <header>
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="logo"></a>
        <div class="navbar" id="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'holiday' %}" style="background-color:#1d87a7; color: #fff;">Holidays</a></li>
            <li><a href="{% url 'hotels' %}">Hotels</a></li>
            <li><a href="{% url 'flight_search' %}">Flights</a></li>
            <!-- <li><a href="#">Trains</a></li> -->
            <li><a href="{% url 'bus' %}">Buses</a></li>
            <li><a href="#abt">About Us</a></li>
        </ul>
        <a href="{% url 'logout' %}" class="login-btn">Logout</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
    </div>
    </header>

    <div class="useless"></div>

    <!-- header ends section here  -->






    <!-- search section starts here  -->

    <div class="search">
        <form action="{% url 'holidaySearch' %}" method="POST">
            {% csrf_token %}
            <i class="fas fa-map-marked"></i>

            <div class="dest">
            <label for="destination">Destination</label>
            <input type="text" placeholder="Enter destination" name="searched">
        </div>

<!--        <div class="dept">-->
<!--            <label for="departure">Departure</label>-->
<!--            <input type="text" placeholder="Enter destination">-->

<!--        </div>-->
            <input type="submit" value="Search" class="btn">
        </form>
    </div>

    <!-- search section ends here  -->

    <!-- holiday section starts here  -->

    {% if searched %}

    {% for i in data %}
    <div class="box">
        <img src="{{ i.image.url }}" alt="">

        <div class="content">
<!--            <h3>Wonderful Kerala - Weekend Special</h3>-->
<!--            <h3>{{ i.pack_name }}</h3>-->
            <h3>{{ i.pack_name }}</h3>
            <span>{{ i.days }} Days/ {{ i.nights }} Nights</span> <br>

<!--            <b>Kochi(1N) -> Munnar(2N) -> Thekkady(1N)</b>-->
            <b>{{ i.destination }}</b>
        </div>

        <div class="content-1">
<!--            <i class="fas fa-rupee-sign">13,199</i>-->
            <i class="fas fa-rupee-sign">{{ i.pack_price }}</i>
            <p>Per Person on twin sharing</p>

            <p>

            </p>

            <a href="{% url 'holidayPackage' i.id %}"><button class="btn-1">View Details</button></a>
        </div>

    </div>
    {% endfor %}

    {% endif %}

    <!-- holiday section ends here  -->







    <!-- footer section starts here  -->

    <footer>
        <div class="abt" id="abt">
        <h3>About Us</h3>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium dolorum quos ipsa ex totam? Eum ipsam provident excepturi mollitia distinctio expedita
            inventore nemo minima quae.</p>
      </div>

      <div class="contact">
        <h3>Contact Us</h3>
        <i class="fas fa-phone-square-alt"></i> +91 85479 54763
        <br>
        <i class="fas fa-envelope"></i> abc@gmail.com
      </div>

      <div class="subscribe">
        <h3>Subscribe Us</h3>
        <input type="text" placeholder="Enter email address">
        <input type="submit" value="Send" class="btn-form">
      </div>

      <div class="social">
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-youtube"></i>
      </div>
      </footer>

      <!-- footer section ends here  -->
    <!-- external js file  -->
   <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>